@import "/src/styles.scss";

.container {
    @include container
}

footer {
    font-size: 0.75rem;
    background-color: $primaryColor;
    margin: 0;
    padding: 0.5rem;
    height: 3rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;

    p {
        padding-bottom: 2rem;
    }
}