@import "/src/styles.scss";

.container {
    @include container
}

footer {
    font-size: 0.75rem;
    background-color: $primaryColor;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;

    p {
        font-size: 1rem;
    }
}