@import "/src/styles.scss";

.container {
    @include container
}

.card {
    min-width: 12rem;
    height: 8rem;
    background-color: $cardColor;
    border-radius: 2rem;
    padding: 2rem 3rem 0;
    margin: 1rem;
}

.mat-icon {
    font-size: 2rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    margin: 0;
}