@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$primaryColor: #DFD5EC;
$textColor: #2c2c2c;
$cardColor: #f1f1f1;

@mixin container {
    width: 80%;
    margin: auto;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: $textColor;
}

h1,
h2,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    font-weight: bold;
    font-size: 2rem;
}