$primaryColor: #DFD5EC;
$textColor: #2c2c2c;

@mixin container {
    width: 80%;
    margin: auto;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: $textColor;
}

h1,
h2 {
    font-family: 'Source Sans Pro', sans-serif;
}