@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$primaryColor: #DFD5EC;
$textColor: #2c2c2c;
$cardColor: #f1f1f1;

@mixin container {
    width: 80%;
    margin: auto;
}

html,
body {
<<<<<<< HEAD
    min-height: 100%;
    margin: 0 0 3rem 0;
    font-family: 'Poppins', sans-serif !important;
=======
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
>>>>>>> parent of 300ddc9 (Merge pull request #4 from irinapizane/story4_e1_create_single_category)
    color: $textColor;
}

h1,
h2,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    font-weight: bold;
    font-size: 2rem;
<<<<<<< HEAD

    margin-top: 2rem;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Poppins';
}
=======
}
>>>>>>> parent of 300ddc9 (Merge pull request #4 from irinapizane/story4_e1_create_single_category)
